# Ignore original large GeoTIFF file (kept locally, split version pushed to GitHub)
data/COGs_Tiff/Mercator_Versions/Area1/20250919_Hutchinson_Area1_L2_Photo_RGB_NoHoleFilling_Fill_RC_Ortho_Cog.tif

# Ignore any other potentially large files
*.zip
